		*{
			padding: 0 auto;
			margin: 0 auto;
			font-family: sans-serif;
		}
		a{
			text-decoration: none;
			color : black;
		}
		#wrapper{
			text-align: center;
			width: 80%;
		}
		/*header*/
		header{
			height: 150px;
			position: relative;
			border-bottom: 1px solid #cccccc;
		}
        .img_header{
        	height: 50%;
        	position: absolute;
        	width: 15%;
        	top: 25%;
        	left: 40%;
        	object-fit: cover;
        }
        .cart {
        	position: absolute;
        	top: 50%;
        	right: 5%;
        }
        .hotline{
        	position: absolute;
        	top: 50%;
        	left: 5%;
        }
        .account{
        	position: absolute;
            top: 50%;
            right: 20%;
        }
        .search{
        	position: absolute;
        	top: 50%;
        	right: 1%;
        }
        /*menu*/
       	
		nav ul {
			list-style-type: none;
			text-align: center;
		}
		nav li{
			display: inline-block;
			width: 12%;
			height: 40px;
			line-height: 40px;
			position: relative;
		}
		nav a:hover{
			color: #aa0000;
		}
		nav a{
			color: black;
			display: block;
		}
		.name, .name_big{
			display: none;
		}
		nav ul li:hover .name, nav ul li:hover .name_big{
			display: block;
			position:absolute;
		}
		nav ul li:hover .name_big{
			background-color: white;
			color: black;
			width: 800px;
		    left: -550px;
		}
		.Na .name a{
			width:160px ;
			background-color: white;
		}
		.Na .name_big .item{
			width: 100%;
		}
		.Na .name_big .item li{
			width: 100%;
			display: inline;
		}
		.img_max{
			width: 100%;
			height: 80%;
			object-fit: cover;
		}
		/*section*/
		.new{
			padding: 10px 0;
		}
		.item_new{
			padding-top: 10px;
		}
		.item_new p{
			display: inline;
			padding:0 10px;
		}
		.new a:hover{
			color:#996633;
		}
		/*slider*/
		.slider{
			border-bottom: 1px solid #cccccc;
			padding-top: 20px;
			padding-bottom: 10px;
		}
		.slider .slider_hover{
			width: 24%;
			height: 400px;
			display: inline-block;
		}
		
		.slider_item img{
			width: 100%;
			height: 70%;
			object-fit: cover;
			padding-bottom: 10px;
		}
		.slider_hover h4{
			text-align: center;
		}
		.more {
			text-align: center;
			border: 0.5px solid black;
			padding: 5px;
			border-radius: 5px;
		}
		.slider_hover .slider_item:hover{
			transform: scale(1.1);
		}
		.slider_hover .slider_item .more:hover{
			background-color: black;
			color: white;
		}
		.summer {
			width: 100%;
			background: url('../img/bgimg.jpg') no-repeat center bottom;
			background-size: cover;
			position: relative;
			height: 610px;
			padding-top: 20px;
		}
		.summer .movie-icon {
			padding: 20px;
			background-color:white;
			border: 0;
			border-radius: 50%;
			position:absolute;	
			top: 50%;
		}
		.summer .left {
			left: 100px;
		}
		.summer .right {
			right: 100px;
		}
		.summer > h2 {
			width: 100%;
			font-size: 26px;
		    line-height: 28px;
		    text-align: center;
		    font-weight: 400;
		    text-transform: uppercase;
		    letter-spacing: 2.4px;
		    padding-bottom: 10px;
		}
		.summer  > h2 > a{
			text-decoration: none;
			color: #1c1c1c;
		}
		.summer > h2 > a:hover {
			color: #AE670C;
		}
		.summer .wrapper {
			position: relative;
			width: 60%;
			margin: auto;
		}
		.summer .wrapper .container {
			width: 100%;
			margin: auto;
			display: flex;
		}
		.summer .wrapper .container .model-gunmetal {
			width: 50%;
		}
		.summer .wrapper .container .gunmetal {
			width: 50%;
			margin: 0px;
			position: relative;
		}
		.summer .wrapper .container .gunmetal:hover .second {
			opacity: 1;
		}
		.summer .wrapper .container .gunmetal:hover .first {
			opacity: 0;
		}
		.summer .wrapper .container .gunmetal .clock {
			width: 100%;
			text-align: center;
		}
		.summer .wrapper .container .gunmetal .clock .item {
			width: 70%;
			margin: 10% 25% 0% 15%;
		}
		.summer .wrapper .container .gunmetal .clock .item a {
			text-decoration: none;
			letter-spacing: 2.4px;
			color: black;
		}
		.summer .wrapper .container .gunmetal .clock .item a img {
			width: 85%;
			object-fit: cover;
			height: 280px;
		}
		.summer .wrapper .container .gunmetal .second {
			background-color: transparent;
			position: absolute;
			top: 0px;
			opacity: 0;
		}
		.summer .wrapper .container .gunmetal .second h4 {
			margin-top: 70px;
		}
		.summer .wrapper .container .gunmetal .second h4 a {
			border: 1px solid;
			padding: 15px 30px;
			border-radius: 5px;
		}
		.summer .wrapper .container .gunmetal .second h4 a:hover {
			background-color: black;
			color: white;
		}
		.summer .wrapper .container .gunmetal .second:hover h4  {
			will-change: transform;
			opacity: 1;
			transform: translateY(-40px);
		    transition: .3s ease-in-out;
		}
		.summer .wrapper .container-crux {
			position: absolute;
			top: 0px;
		}
		.gallery{
		    font-family: sans-serif;
		    width: 80%;
		    margin: auto;
		    display: flex;
		    justify-content: space-between;
		    height: 350px;
		    padding: 20px 0;
		}

		.gallery-item{
		    width: 32%;
		    position: relative;
		    overflow: hidden;
		}

		.gallery-img{
		    object-fit: contain;
		    width: 100%;
		}

		.gallery-img:hover{
		    opacity: 1;
		    transform: scale(1.1);
		    transition: all ease-in 0.3s;
		}

		.gallery-text{
		    position: absolute;
		    left: 20px;
		    top:240px;
		}

		.gallery-text h3{
		    margin-top: 0px;
		    font-size: 22px;
		    font-weight: 400;
		    letter-spacing: 3px;
		    color: #fff;
		    text-shadow: 1px 1px 1px rgba(0,0,0,0.31);
		}

		.gallery-text a{
		    padding: 14px 28px;
		    border: 1px solid #fff;
		    text-decoration: none;
		    color: #000;
		    background-color: #fff;
		    letter-spacing: 0.2em;
		}

		.gallery-text a:hover{
		    color: #fff;
		    background: 0;

		}
		#news {
			height: auto;
			width: 90%;
			margin: auto;
			box-sizing: border-box;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		 .title  {
			text-align: center;
			font-size: 30px;
			letter-spacing: 3px;
			font-weight: 100;

		}
		.title  a {
			text-decoration: none;
			color: black;
		}
		.title a:hover {
			color: #975430;
		}
		#news a{
			text-decoration: none;
			color: black;
		}
		#news a:hover {
			color: #975430;
		}
		#news .strong {
			width: 23%;
			height: auto;
			float: left;
			padding: 0px 10px;
			line-height: 17px;
		}

		#news .strong img {
			width: 100%;
			height: auto;
		}
		#news .strong h5 {
			margin-top: 10px;
			letter-spacing: 2px;
			font-size: 16px;
			margin-bottom: 0px;
			line-height: 20px;
			overflow: hidden;
			height: 60px;
			font-weight: 100;
		}
		#news .strong p {
			font-size: 15px;
			letter-spacing: 1px;
			line-height: 20px;
			margin-top: 0px;
			overflow: hidden;
			height: 60px;
			color: #535252;
		}

		.butt {
			width: 100%;
			height: auto;
			text-align: center;
			float: all;
			margin-bottom: 50px;
            margin-top: 20px;
		}
		.butt button {
			text-align: center;
			text-transform: uppercase;
			background: black;
			color: white;
			padding: 14px 28px;
			border: none;
		}
		.butt button:hover {
			background: white;
			color: black;
			transition: 0.5s;	
			border: 1px solid black;
			box-sizing: border-box;
		}
		-webkit-keyframes example {
		  from {position: left;}
		  to {position: right;}
		}
		@keyframes example {
		  from {position: left;}
		  to {position: right;}
		}

		.full {
			width: 100%;
			height: auto;
			background: #363636;
			color: white;
			float: all;
		}
		.footer {
			width: 90%;
			height: auto;
			margin: auto;
			display: flex;
			justify-content: space-around;
			padding: 20px 0px 40px 0px;
		}

		.element ul  {
			overflow: hidden;	
			margin: 0px;
			padding: 10px;	
		}
		.element li {
			overflow: hidden;
			margin-top: 8px;
			font-weight: ;
		}
		.element {
			width: 23%;
			height: auto;
			box-sizing: border-box;
		}
		.element h5 {
			font-size: 105%;
			padding: 10px;
			margin : 40px 0px 15px 0px;
		}
		.element img {
			padding: 20px 0px;
			width: 70%;
			height: auto;
			margin: 0px 41px;
		}
		.element ul li form {
			width: 80%;
			display: inline-grid;
		}
		.element ul li form input {
			border: none;
			width: 100%;
			height: 30px;
		}
		.element ul li form button {
			height: 30px;
			margin-top: 3px;
		}
		@media (max-width: 1100px){
			#news .strong {
				width: 46%;
				transition: 0.5s;
			}
		}
		@media (max-width: 560px){
			#news .strong {
				width: 100%;
				transition: 0.5s;
			}
		}
